<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href=".img/image.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <title>ClickBait Or Not</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />


    <!-- Custom styles for this template -->
  </head>

  <body class="text-center" data-gr-c-s-loaded="true">
    <form class="form-signin" action="{{url_for('getRes')}}" method="post">
      <img
        class="mb-4 img-fluid"
        src="https://i.ibb.co/WxnVXBW/imageedit-1-2214759640.png"
        alt=""
        width="200px"
        height="auto"
      />
      <h1 class="h3 mb-3 font-weight-normal">Check if your title has laws of attaraction or not ;)</h1>
      <label for="inputEmail" class="sr-only">Enter a string or headline</label>
      <input
        type="text"
       
        class="form-control"
        placeholder="Input a String"
        required
        name='str'
      />
      <br>
       <input class="form-control btn btn-primary" type="submit" value="Fetch Result">
       <p class="card-text"><small class="text-muted">Fetching results from Machine Learning Model may take upto 20 seconds, Kindly be patient.</small></p>
<br><br><br>
<p>Made with ❤️ by <a href="http://twitter.com/harshsahu97" target="_blank" class="harsh">Harsh S.</a></p>
    </form>

  </body>
 
</html>